.DS_Store
.gradle
.vscode
.idea

.env.local
.env.*.local
.externalNativeBuild

*.iml
*.suo
*.sln
*.sw?
*.ntvs*
*.njsproj

/out
/logs
/dist
/build
/release
/captures
/smallLibs
/build-small
/node_modules
/local.properties
